# Raw experimental data_epoxy
scripts/tensile/data/*
scripts/FTIR/data/
scripts/FTIR/data/akrileta_rapsu_ella.csv
scripts/tga/INFO/*
scripts/tga/tga_friedman/data/*
!scripts/tensile/data/.gitkeep

# Output files (reports, plots, etc.)
scripts/tensile/out/*
!scripts/tensile/out/.gitkeep

# Python cache / virtual env
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.egg-info/
.venv/
env/
venv/

# Jupyter checkpoints
.ipynb_checkpoints/

# OS artifacts
.DS_Store
Thumbs.db

GEMINI.md
